/* Navbar at top of page -- navlinks to "MOTEL HOME" and "ABOUT" routes */

.banner-container {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 20px;
  }
  
  .banner-list {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    margin-bottom: 5px;
    list-style-type: none;
    width: 85%;
    flex-wrap: wrap;
  }
  
  .banner-list li {
    display: inline-block;
    margin: 6px;
    cursor: pointer;
  }